.lp-road-to-dx .hero {
  display: block; }

.lp-road-to-dx .hero__inner {
  padding: 0;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px; }
  @media only screen and (max-width: 959px) {
    .lp-road-to-dx .hero__inner {
      width: 90%;
      max-width: 100%;
      flex-direction: column-reverse; } }
  .lp-road-to-dx .hero__inner .hero__button-box {
    margin-bottom: 0; }
  @media only screen and (max-width: 959px) {
    .lp-road-to-dx .hero__inner .button--cv {
      width: 100%;
      max-width: 420px;
      margin: 0 auto; } }

@media only screen and (max-width: 959px) {
  .lp-road-to-dx__brno {
    display: none; } }

.lp-road-to-dx__hero {
  padding: 0;
  background: url(../../business/img/lp/manga-for-owners/manga-for-owners_pic2.jpg) no-repeat center/cover;
  padding: 190px 0 126px; }
  @media screen and (min-width: 1440px) {
    .lp-road-to-dx__hero {
      padding: 190px 0 126px;
      height: auto; } }
  @media only screen and (max-width: 959px) {
    .lp-road-to-dx__hero {
      padding: 95px 0 63px;
      height: auto; } }

.lp-road-to-dx__title {
  color: #fff;
  font-size: 35px;
  padding-bottom: 30px;
  text-align: left;
  line-height: 1;
  font-weight: 600;
  line-height: 1.3; }
  @media only screen and (max-width: 959px) {
    .lp-road-to-dx__title {
      font-size: 24px;
      padding-bottom: 15px; } }

.lp-road-to-dx__mainVisualTxt {
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 30px; }
  @media only screen and (max-width: 959px) {
    .lp-road-to-dx__mainVisualTxt {
      font-size: 14px;
      margin-bottom: 15px; } }
  .lp-road-to-dx__mainVisualTxt a {
    color: #fff;
    text-decoration: underline; }

.lp-road-to-dx__contents {
  width: calc(475 / 1000 * 100%); }
  @media only screen and (max-width: 959px) {
    .lp-road-to-dx__contents {
      width: 100%; } }

.lp-road-to-dx__img {
  width: calc(367 / 1000 * 100%); }
  @media only screen and (max-width: 959px) {
    .lp-road-to-dx__img {
      width: 70%;
      margin: 0 auto 20px; } }
  .lp-road-to-dx__img img {
    width: 100%;
    height: auto; }

.lp-road-to-dx__comicsInner {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }
  @media only screen and (max-width: 959px) {
    .lp-road-to-dx__comicsInner {
      max-width: 100%; } }

.lp-road-to-dx__comicsend {
  position: relative; }
  .lp-road-to-dx__comicsend::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 78, 78, 0.8); }

.lp-road-to-dx__comicsImg img {
  width: 100%;
  height: auto; }

.lp-road-to-dx__comicsTxt {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  text-align: center;
  margin: auto; }
  .lp-road-to-dx__comicsTxt p span {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    position: relative;
    z-index: 5; }
    @media only screen and (max-width: 959px) {
      .lp-road-to-dx__comicsTxt p span {
        font-size: 18px; } }
    .lp-road-to-dx__comicsTxt p span::before {
      content: '';
      position: absolute;
      top: -20%;
      left: -10%;
      width: 34px;
      height: 45px;
      background: url(../../business/img/lp/road-to-dx/road-to-dx_pic8.svg) no-repeat center/contain;
      z-index: 5; }
      @media only screen and (max-width: 959px) {
        .lp-road-to-dx__comicsTxt p span::before {
          display: block;
          position: relative;
          left: auto;
          margin: auto;
          width: 24px;
          height: 35px; } }

.lp-road-to-dx__form {
  margin-bottom: 120px; }
  @media only screen and (max-width: 959px) {
    .lp-road-to-dx__form {
      margin-bottom: 80px; } }
  .lp-road-to-dx__formInner {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto; }
    @media only screen and (max-width: 959px) {
      .lp-road-to-dx__formInner {
        max-width: 100%; } }
  .lp-road-to-dx__formTit {
    text-align: center;
    color: #ff1414;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px; }
    @media only screen and (max-width: 959px) {
      .lp-road-to-dx__formTit {
        margin-bottom: 30px; } }
  .lp-road-to-dx__formFrame {
    min-height: 1070px; }
