@charset "UTF-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	font-family:Helvetica, Arial, sans-serif;
	color: #1c1c1c;
	-webkit-text-size-adjust: 100%;
}
header {
	background:#1c1c1c;
	padding: 20px 20px 15px 20px;
}
header img {
	width:50px;
	height:50ox;
}
section.form_content {
	padding: 20px;
}
section.form_content h1 {
	font-size: 1.3em;
	margin:5px 0 10px 0;
	padding:0;
}
section.form_content p.form_text {
	font-size: 0.95em;
	line-height: 22px;
	margin:0 0 18px 0;
}
section.form_content .form_area input {
	display:block;
	margin: 0 0 15px 0;
}
section.form_content .form_area input[type="text"] {
	width:92%;
	font-size: 16px;
	font-weight:normal;
	background:#f6f6f9;
	border: #cfced1 solid 1px;
	padding: 11px 13px;
	-webkit-appearance: none;
	border-radius: 0;
}
section.form_content .form_area input[type="submit"] {
	width:100%;
	font-weight:bold;
	font-size: 17px;
	background: #0054ff;
	color: #fff;
	border: none;
	padding: 14px 10px;
	margin:25px 0 0 0;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;		/* CSS3草案 */
	-webkit-border-radius: 3px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 3px;	/* Firefox用 */
	-webkit-appearance: none;
}
section.form_content .form_area input[type="submit"]:hover {
	background: #0054ff;
}
section.form_content a.error {
	display:block;
	text-decoration:none;
	width:100%;
	font-weight:bold;
	font-size: 17px;
	background: #0054ff;
	color: #fff;
	border: none;
	padding: 14px 0;
	margin:25px 0 0 0;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;		/* CSS3草案 */
	-webkit-border-radius: 3px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 3px;	/* Firefox用 */
	-webkit-appearance: none;
}
section.form_content a.error:hover {
	background: #0054ff;
}
footer {
	padding: 0 0 40px 20px;
	font-size: 0.8em;
	color: #A4A4A4;
}