/*
 *  Remodal - v1.1.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the modal dialog */

.remodal {
  box-sizing: border-box;
  width: 100%;

  background-color: rgba(255,255,255,0.9);
  /*-webkit-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);*/
  /*transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);*/
  /*-webkit-transition-property: background-color, -webkit-backdrop-filter;*/
  /*transition-property: background-color, -webkit-backdrop-filter;*/
  /*transition-property: background-color, backdrop-filter;*/
  /*transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;*/

  /*-webkit-backdrop-filter: saturate(180%) blur(20px);*/
  /*backdrop-filter: saturate(180%) blur(20px);*/
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100%;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */

.remodal-close {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  overflow: visible;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: transparent;
}

.remodal-close:hover:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.remodal-close:hover:after {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.remodal-close:hover:before,
.remodal-close:hover:after,
.remodal-close:focus:before,
.remodal-close:focus:after {
  border-bottom-color: #1e90ff;
}

.remodal-close:before,
.remodal-close:after {
  content: "";
  width: 2px;
  cursor: pointer;
  height: 10px;
  display: inline-block;
  position: absolute;
  border-bottom: 60px solid white;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  top: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.remodal-close:after {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* Keyframes
   ========================================================================== */

@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}