@charset "UTF-8";
.example {
  position: relative;
  width: 80%;
  margin: 80px auto;
  color: #2b2b2b;
  max-width: 1000px; }
  @media only screen and (max-width: 959px) {
    .example {
      margin: 40px auto;
      width: 90%; } }
  .example-thumbnail {
    width: 100vw;
    display: block;
    padding-top: 80px; }
    .example-thumbnail__image {
      width: 100%; }
  .example-header {
    margin-bottom: 50px; }
    .example-header__meta--number {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 15px; }
    .example-header__meta--title {
      font-size: 50px;
      margin-bottom: 15px;
      font-weight: 700; }
    .example-header__meta--description {
      font-size: 20px;
      line-height: 1.8;
      margin-bottom: 15px; }
    .example-header__meta--name {
      font-size: 16px;
      line-height: 35px;
      text-align: right; }
      .example-header__meta--name::before {
        content: '――'; }
    @media only screen and (max-width: 959px) {
      .example-header__meta--number {
        font-size: 12px; }
      .example-header__meta--title {
        font-size: 30px;
        line-height: 1; }
      .example-header__meta--description {
        font-size: 14px; }
      .example-header__meta--name {
        font-size: 12px; } }
  .example-matter {
    background: #2b2b2b;
    padding: 50px;
    margin-bottom: 50px; }
    .example-matter__wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin-bottom: 40px; }
    .example-matter__hd {
      background: #fff;
      padding: 0 15px;
      font-size: 16px;
      margin-right: 36px;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 10%;
              flex: 0 1 10%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      line-height: 40px;
      font-weight: 600; }
    .example-matter__detail {
      -webkit-box-flex: 1;
          -ms-flex: 1 0;
              flex: 1 0;
      color: #fff; }
    .example-matter__item {
      margin-bottom: 15px;
      font-size: 16px;}
      .example-matter__item::before {
        content: '-';
        margin-right: .5rem; }
    @media only screen and (max-width: 959px) {
      .example-matter {
        padding: 15px;
        margin-bottom: 50px; }
        .example-matter__wrap {
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
        .example-matter__hd {
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
          margin: 0 0 30px; }
        .example-matter__item {
          font-size: 14px;
          margin-bottom: 5px; }
        .example-matter__list {
          padding-left: 15px; } }
  .example-content p:not([class]) {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 30px; }
  .example-content strong:not([class]) {
    background: #FFF500;
    background-blend-mode: multiply; }
  .example-content__hd, .example-content__hd--rev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 800px;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 80px auto; }
    .example-content__hd--rev {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
  .example-content__image {
    max-width: 100%; }
  .example-content__quote {
    padding: 75px 50px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.8;
    background-image: url(/wp-content/themes/wp-next-landing-page/business/img/case_quotation_left.png), url(/wp-content/themes/wp-next-landing-page/business/img/case_quotation_right.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 13% 0%, 87% 96%;
    background-size: 50px;
    width: 50%; }
  @media only screen and (max-width: 959px) {
    .example-content p:not([class]) {
      font-size: 14px; }
    .example-content__hd, .example-content__hd--rev {
      margin-bottom: 50px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }
    .example-content__image {
      margin-bottom: 60px; }
    .example-content__quote {
      font-size: 20px;
      padding: 75px 32px;
      width: 100%; } }

