.site-content--vision {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
.example--vision {
  max-width: 800px;
}
.seminar-kpv-pr.seminar-kpv-pr--vision .blog-recommend__item--vision,
.vision-heading {
  margin-bottom: 80px;
}
.seminar-kpv-pr.seminar-kpv-pr--vision .blog-recommend__body {
  padding: 30px 0 0;
}
.seminar-kpv-pr.seminar-kpv-pr--vision .blog-recommend__title {
  margin-bottom: 30px;
}

/* TOP PAGE */
.vision-heading {
  display: flex;
}
.vision-heading__heading {
  /* width: 500px; */
  width: 480px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vision-heading h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.vision-heading p {
  margin-bottom: 30px;
  font-size: 21px;
}
.vision-heading p:last-of-type {
  margin-bottom: 0;
}
.vision-heading__content {
  max-width: 485px;
}
.blog-recommend__item--coming-soon * {
  cursor: default;
  pointer-events: none;
}
.blog-recommend__item--coming-soon .blog-recommend__readmore::after {
  display: none;
}

/* INNER PAGES */
.vision-profile {
  display: flex;
  align-items: center;
  padding: 30px;
  background: #f5f5f5;
  margin-bottom: 80px;
}
.vision-profile img {
  width: 145px;
}
.vision-profile p {
  margin-bottom: 30px;
}
.vision-profile p:last-of-type {
  margin-bottom: 0px;
}
.vision-profile__text {
  padding-left: 30px;
}
.example-header__meta--description {
  font-size: 30px;
  line-height: 170%;
}
.interviewer::before {
  display: none;
}
.example-content__quote {
  padding: 75px 40px;
  text-align: center;
}
.next-story {
  text-align: right;
}
.visible-sp {
  display: none;
}
@media screen and (max-width: 959px){
  .seminar-kpv-pr.seminar-kpv-pr--vision .blog-recommend__item--vision,
  .vision-heading {
    margin-bottom: 60px;
  }
  .seminar-kpv-pr.seminar-kpv-pr--vision #section-blog-list {
    padding-top: 60px;
  }
  .seminar-kpv-pr.seminar-kpv-pr--vision .blog-recommend__body {
    padding: 0;
  }
  .seminar-kpv-pr.seminar-kpv-pr--vision .blog-recommend__title {
    margin-bottom: 20px;
  }
  .vision-heading {
    text-align: center;
    display: block;
  }
  .vision-heading h2 {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .vision-heading p {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .vision-heading__heading,
  .vision-heading__content {
    width: 100%;
    max-width: 100%;
  }
  .vision-profile {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 60px;
  }
  .vision-profile img {
    width: 120px;
  }
  .vision-profile p {
    margin-bottom: 20px;
  }
  .vision-profile p:last-of-type {
    margin-bottom: 0px;
  }
  .vision-profile__text {
    padding-left: 20px;
  }
  .example-header__meta--description {
    font-size: 22px;
  }
  .interviewer {
    font-size: 18px;
  }
  .example-content__hd--center {
    margin: 60px auto;
  }
  .visible-sp {
    display: block;
  }
  .hidden-sp {
    display: none;
  }
}
@media screen and (max-width: 400px){
  .vision-profile {
    display: block;
  }
  .vision-profile__img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .vision-profile__text {
    padding-left: 0;
  }
  .vision-profile__text p:first-child {
    margin-top: 30px;
    margin-bottom: 47px;
  }
}

