@charset "UTF-8";
/* CSS Document */

/*common*/


p {
	font-size: 14px;
	letter-spacing: 3px;
	font-weight: 400;
	line-height: 1.8;
	font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
}

h2 {
	font-size: 18px;
    text-align: center;
    letter-spacing: 3px;
	line-height: 1.8;
}

strong.bold {
	font-weight: 700;
}


.line_gray{
	border: 0.5px solid #d6d6d6;
}

.cursor:after {
	content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../img/cursor.png);
    background-size: contain;
    vertical-align: middle;
    margin-left: 10px;
	margin-bottom: 3px;
}

.cursor_footer:after {
	content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/cursor.png);
    background-size: contain;
    vertical-align: middle;
    position: relative;
    left: 195px;
    bottom: 20px;
}

/*header*/
.header-left.header-logo_size_adj {
	max-width: 293px;
}
.header.header_color {
	background-color: #00275E;
}
.header-nav.header-nav_color {
	background: #052e63;
}
.header-nav__link.header-nav__link_color {
	color: #fff;
	background: linear-gradient(to right, #ffcc18, #ef6b0c);
	display: block;
	text-align: center;
	width: 480px;
	padding: 20px 0;
	font-weight: bold;
}

/*footer*/
.footer {
	background: #00275E;
}
.footer-copyright_color {
	color: white;
}
.footer_imfo {
	color: white;
    text-align: center;
    margin-bottom: 20px;
}

.footer_imfo_title {
	font-size: 18px;
}
.phone_number {
  font-size: 35px;
  margin: 30px 0px;
  font-weight: 700;
}
.phone_number a {
  color: #ffffff;
}
.cr_time {
	margin-bottom: 40px;
}

.footer-logo.footer-logo_mb {
	margin-bottom: 0px;
	background: #01275d;
   	margin: 0px 0px 60px 0px;
    padding: 20px;
}

.footer.footer_mb {
	padding-bottom: 20px;
}

.footer-logo__img.footer-logo__img_adj {
	max-width: 350px;
}

/*topコンテンツ*/
p.content_top_coment {
	font-size: 16px;
}

.yellow {
background: -webkit-linear-gradient(transparent 80%, #FFD90F 0%);
}

.content_top_bg_img {
	background-image: url("../img/contents_top_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content_top_detail {
  color: #ffffff;
  text-align: center;
  position: relative;
  padding: 100px 0 50px;
}

.content_top_title {
  font-size: 18px;
  font-family: serif;
  margin-bottom: 30px;
  line-height: 1.5;
}

.btn--orange,
a.btn--orange {
	color: #fff;
	background: linear-gradient(to right, #ffcc18, #ef6b0c);
	display: block;
	width: 100%;
	padding: 10px 0;
	font-weight: bold;
}

a.btn--radius {
	border-radius: 100vh;
}

p.btn_apply_orange {
	text-align: center;
    margin: 0 25px 30px;
    font-size: 16px;
    letter-spacing: 2px;
}
/*middleコンテンツ*/
section.content_middle {
	margin-bottom: 80px;
}

.content_detail_img {
	text-align: center;
}
.content_detail_img_mb {
	text-align: center;
}
.wide-100 {
	width: 100%
}


.btn--blk,
a.btn--blk {
	color: #fff;
	background-color: #2b2b2b;
	display: block;
	width: 100%;
	padding: 6px;
	font-size: 12px;
}

.btn--blk:hover,
a.btn--blk:hover {
	color: #fff;
	background: #2b2b2b;
}

a.btn--radius {
	border-radius: 100vh;
}

p.btn_apply_bk {
	text-align: center;
}
p.content_caption {
	font-size: 16px;
	margin: 40px;
}



/*campaignコンテンツ*/
p.campaign_date_text {
	font-size: 16px;
    letter-spacing: 2px;
    line-height: 32px;
}
section.content_campaign {
	margin-bottom: 80px;
}

.content_campaign_title {
	font-size: 18px;
    font-weight: 500;
	margin-bottom: 20px;
}

p.campaign_detail {
	font-size: 16px;
    margin: 40px;
}

.campaign_top_box {
	margin-bottom: 60px;
}

.campaign_detail_box {
	margin-bottom: 60px;
}

.campaign_date {
	padding: 20px;
	background: #f5f5f5;
	border-radius: 6px;
	margin: 0px 30px;
}

.campaign_point {
	margin: 0px 40px;
}
.campaign_pointe_text {
	font-size: 16px;
}

.campaign_pointe_text.campaign_pointe_text_small {
	font-size: 14px;
}

.campaign_apply_img_mb {
	margin-bottom: 40px;
}

.content_about_koguchi_img {
	margin: 0px 40px 40px;
}

.bg_blue {
	background-color: #e8f7ff;
}

/*disclimerコンテンツ*/
.disclaimer {
  width: 100%;
  background: #f5f5f5;
  padding: 80px 0;
	font-size: 14px;
	line-height: 1.6;
}
.disclaimer__inner {
	width: 70%;
	margin: auto;
}
.disclaimer__inner li {
	list-style-type: disc;
}
.disclaimer__inner li ul {
	margin-left: 50px;
}
.disclaimer__inner li ul li {
	list-style-type: circle;
}

.front-banner__btn_2 {
	display: block;
    margin: 0 auto;
    background: linear-gradient(to right, #ffcc18, #ef6b0c);
    border-radius: 53px;
	align-items: center;
    box-sizing: border-box;
	overflow: hidden;
    position: relative;
	height: 50px;
    width: 89%;
    padding: 0 15px;
    max-width: 335px;
}

.front-banner__tit.front-banner__tit_adj {
	font-size: 15px;
    line-height: 17px;
}


/*PC*/
@media only screen and (min-width:600px) {
	.btn--radius:after {
		width: 25px;
   		height: 25px;
	}

	/*ヘッダー*/
	.inner.inner_size_adj{
		max-width: 1550px;
	}
	.header-left.header-logo_size_adj {
		max-width: 375px;
	}

	/*topコンテンツ(pc)	*/
	.content_top_detail {
	  padding: 170px 0 80px;
	}
	.content_flex {
		display: flex;
	}

	.content_top_title {
		font-size: 35px;
		line-height: 1.5;
		margin-bottom: 30px;
		letter-spacing: 5px;
	}

	.btn--orange, a.btn--orange{
		padding: 25px 0;
		font-size: 18px;
	}

	p.btn_apply_orange {
		width: 600px;
		margin: auto;
		margin-bottom: 40px;
	}

/*topコンテンツ(pc)	*/

	p.content_top_coment {
		font-size: 22px;
		font-weight: 500;
	}

/*middleコンテンツ(pc)	*/

	.content_detail {
		width: calc( 100% / 3 );
	}
	.content_detail .points {
		padding: 0 15px;
	}

/*campaignコンテンツ(pc)	*/

	p.campaign_detail {
		width: 60%;
		margin: 40px auto;
	}

	p.content_caption {
		width: 50%;
		margin: 30px auto;
	}

	.campaign_detail_box {
		width: 70%;
		margin: 80px auto;
	}

	.content_campaign_title {
		font-size: 30px;
		margin-bottom: 50px;
	}
	.campaign_date {
		text-align: center;
		padding: 30px;
	}
	p.campaign_date_text {
		font-size: 20px;
	}

/*footer*/

  .phone_number {
    	font-size: 50px;
  	}
	.footer-logo__img.footer-logo__img_adj {
		max-width: 750px;
	}
	.footer-logo.footer-logo_mb {
   		margin: 0px;
	}

}
