@charset "utf-8";
/*★★★★★★★★★★★★★★★★★★★★★★★★

テーブル　レイアウト

★★★★★★★★★★★★★★★★★★★★★★★★*/
table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;

	tr {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		td,
		th {
			padding: 3%;
			width: 30%;
			vertical-align: middle;
			line-height: 1.5;

			box-sizing: border-box;

			@media #{$SP} {
				padding: 5% 2.5%;
			}
		}

		td {
			&:nth-of-type(2) {
				width: 70%;
			}
		}
	}
}
