@charset "utf-8";
.sec-tit-box {
    margin-bottom: 45px;
    &__tit {
        font-size: 32px;
        font-weight: 900;
        text-align: center;
        letter-spacing: 0.1em;
        color: #000000;

        @media #{$SP} {
            font-size: 23px;
        }
    }
}
.front-banner {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #fff;
    height: 90px;
    z-index: 50;
    display: flex;
    align-items: center;

    @media #{$SP} {
        height: 64px;
    }

    @keyframes shiny {
        0% {
            transform: scale(0) rotate(25deg);
            opacity: 0;
        }

        50% {
            transform: scale(1) rotate(25deg);
            opacity: 1;
        }

        100% {
            transform: scale(50) rotate(25deg);
            opacity: 0;
        }
    }

    &__btn {
        display: block;
        margin: 0 auto;
        max-width: 580px;
        background: linear-gradient(to left, #1b58a7, #00b7e3);
        border-radius: 53px;
        height: 65px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0 30px;
        width: 100%;
        overflow: hidden;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: -100px;
            left: -100px;
            width: 50px;
            height: 50px;
            background-image: linear-gradient(
                100deg,
                rgba(255, 255, 255, 0) 10%,
                rgba(255, 255, 255, 1) 100%,
                rgba(255, 255, 255, 0) 0%
            );

            /* アニメーション */
            animation-name: shiny;
            animation-duration: 3s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }

        @media #{$SP} {
            height: 44px;
            width: 89%;
            padding: 0 15px;
            max-width: 335px;
        }
    }

    &__left {
        max-width: 87px;
        margin-right: 30px;

        @media #{$SP} {
            max-width: 50px;
            margin-right: 15px;
        }
    }
    &__right {
    }
    &__tit {
        letter-spacing: 0.05em;
        color: #fff;
        line-height: 1;

        &_top {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 4px;
            display: inline-block;

            @media #{$SP} {
                font-size: 10px;
                transform: scale(0.9);
                transform-origin: top left;
                margin-bottom: 0;
            }
        }

        &_bottom {
            font-weight: 900;
            font-size: 21px;

            @media #{$SP} {
                font-size: 13px;
                margin-bottom: 7px;
                display: inline-block;
            }
        }
    }
}
.front-fv {
    background: url(../img/fv/front-fv-bg.png) no-repeat center;
    background-size: cover;
    height: calc(100vh - var(--header-height));

    @media #{$SP} {
        background: url(../img/fv/front-fv-bg-sp.png) no-repeat center;
        background-size: cover;
    }
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

.front-fv-center {
    @media #{$SP} {
        width: 100%;
    }
    &__tit {
        font-size: 48px;
        font-weight: 900;
        letter-spacing: 0.1em;
        line-height: 1.4;
        color: #000000;
        text-align: center;
        margin-bottom: 40px;

        @media #{$SP} {
            font-size: 33px;
            line-height: 1.24;
            letter-spacing: 0.05em;
        }
    }
    &__btn {
        margin: 0 auto;
        width: 100%;
    }

    &__btn-link {
        color: #fff;
        text-align: center;
        display: block;
        height: 100%;
        padding: 25px 0;
        box-sizing: border-box;

        background: linear-gradient(to left, #1b58a7, #00b7e3);
        border-radius: 53px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

        letter-spacing: 0.05em;
        font-weight: 900;

            max-width: 550px;
    margin: 0 auto;

        &:hover {
            @include brightness(1.2);
        }

        @media #{$SP} {
            padding: 12px 0;
        }
        &_top {
            font-size: 19px;

            @media #{$SP} {
                font-size: 14px;
            }
        }
        &_bottom {
            font-size: 25px;

            @media #{$SP} {
                font-size: 18px;
            }
        }
    }
}

.front-worries {
    padding: 60px 0 50px;

    @media #{$SP} {
        padding: 30px 0;
    }

    &__list {
        display: flex;
        @media #{$SP} {
            flex-direction: column;
        }
    }
    &__item {
        padding: 0 15px;
        margin-bottom: 20px;
    }
}

.front-intro {
    background: #f7f7f7;

    @media #{$SP} {
        overflow: hidden;
    }

    &__inner {
        position: relative;
    }
}
.front-intro-left {
    max-width: 244px;
    position: absolute;
    bottom: 0;
    left: 0;

    @media #{$TB} {
    left: -130px;
    }
    @media #{$SP} {
    max-width: 172px;
    left: -56px;
    bottom: -20px;
    width: 33%;
    }
}

.front-intro-center {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: 50px 0;

    @media #{$SP} {
        padding: 40px 0;
    }

    &__txt {
        text-align: center;
        color: #000000;
        &_top,
        &_bottom {
            font-size: 32px;
            letter-spacing: 0.01em;
            font-weight: 900;

            @media #{$SP} {
                font-size: 28px;
            }
        }
        &_center {
            max-width: 386px;
            display: block;
            margin: 0 auto;

            @media #{$SP} {
                max-width: 280px;
            }
        }
    }
}

.front-detail {
    position: relative;
    padding: 5px 0 90px;

    @media #{$SP} {
        padding-bottom: 40px;
    }
    &__inner {
        display: flex;
        justify-content: flex-end;

        @media #{$SP} {
            flex-direction: column;
        }
    }
}

.front-detail-left {
    width: 50%;
    position: relative;
    box-sizing: border-box;
    padding-right: 2.6%;
    padding-top: 123px;

    @media #{$SP} {
        width: 100%;
        padding-top: 50px;
    }

    &__inner {
        max-width: 540px;
        margin-right: 0;
        margin-left: auto;

        @media #{$SP} {
        margin: 0 auto;
        }
    }
    &__tit {
        margin-bottom: 25px;

        &_top,
        &_bottom {
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 0.1em;
            margin-bottom: 15px;
            display: inline-block;

            @media #{$SP} {
                font-size: 19px;
            }
        }
        &_bottom {
            font-size: 20px;
            padding-left: 5px;
        }
        &_middle {
            font-size: 34px;
            color: #000;
            letter-spacing: 0.05em;
            font-weight: 900;
            line-height: 1.44;
            margin-bottom: 20px;
            display: inline-block;

            @media #{$SP} {
                font-size: 31px;
            }
        }
        &_marker {
            background: linear-gradient(transparent 60%, #f8ef00 60%);
        }
    }
    &__txt {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 2.125;
    }
}

.front-detail-right {
    position: relative;
    width: 50%;
    // right: -7%;
    padding-top: 13px;

    @media #{$SP} {
        width: 100%;
    }
}

.front-desc {
    background: linear-gradient(to left, #fff, #f5f5f5);
    padding: 80px 0 180px;
    @media #{$SP} {
        padding: 40px 0 80px;
    }
}

.front-desc-tit-box {
    margin-bottom: 120px;

    @media #{$SP} {
        margin-bottom: 50px;
    }

    &__tit {
        @media #{$SP} {
            font-size: 20px;
        }
    }
}

.front-desc-box {
    display: flex;
    margin-bottom: 180px;

    @media #{$SP} {
        flex-direction: column-reverse;
        margin-bottom: 80px;
    }
    &_reverse {
        flex-direction: row-reverse;
        margin-bottom: 183px;

        @media #{$SP} {
            flex-direction: column-reverse;
            margin-bottom: 80px;
        }
    }
    &_third {
        margin-bottom: 0;
    }
}

.front-desc-left {
    width: 50%;
    padding-top: 22px;

    @media #{$SP} {
        width: 100%;
    }

    &_second {
        box-sizing: border-box;
        padding-top: 0;
    }

    &_third {
        padding-top: 65px;

        @media #{$SP} {
            padding-top: 0;
        }
    }
    &__img {
        &_second {
        }

        &_third {
            margin: 0 auto;
            display: block;
            width: 100%;
        }
    }
}
.front-desc-right {
    width: 50%;
    position: relative;
    padding-left: 60px;
    box-sizing: border-box;

    @media #{$SP} {
        width: 100%;
        padding-left: 0;
        margin-bottom: 20px;
    }

    &_reverse {
        padding-left: 0;
    }
    &_second {
    }
    &_third {
        padding-top: 68px;

        @media #{$SP} {
            padding-top: 0;
        }
    }
    &__number {
        position: absolute;
        max-width: 236px;
        top: -10px;
        right: -30px;
        &_reverse {
            @media #{$TB-PC} {
                top: -40px;
                right: 30px;
            }
        }
        &_third {
            @media #{$TB-PC} {
                top: 30px;
                right: 0px;
            }
        }
    }

    &__heading {
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 0.1em;
        color: #1b58a7;
        position: relative;
        display: inline-block;
        margin-bottom: 22px;
        padding-left: 4px;

        &::after {
            content: "";
            width: 100px;
            position: absolute;
            right: -117px;
            height: 2px;
            background: #1b58a7;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__tit {
        font-size: 32px;
        font-weight: 900;
        letter-spacing: 0;
        line-height: 1.48;
        margin-bottom: 42px;
        position: relative;

        @media #{$SP} {
            font-size: 28px;
        }
    }
    &__list {
        padding-left: 5px;
    }
    &__txt {
        font-size: 16px;
        line-height: 2;
        letter-spacing: 0.05em;

        &_second {
            max-width: 540px;
        }
    }
}

.front-func {
    padding-top: 80px;

    @media #{$SP} {
        padding-top: 40px;
    }
    &__list {
        display: flex;
        margin-bottom: 50px;

        @media #{$SP} {
            flex-direction: column;
            margin-bottom: 10px;
        }
    }
    &__item {
        width: 33.333%;

        @media #{$SP} {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    &__list-inner {
        margin: 0 15px;
        background: #f2fcff;
        border-radius: 41px;
        padding: 30px;

        height: 100%;
    box-sizing: border-box;
    }
    &__list-tit {
        color: #1b58a7;
        font-size: 28px;
        letter-spacing: 0.05em;
        font-weight: 900;
        margin-bottom: 30px;
        text-align: center;
    }
    &__list-img {
        max-width: 180px;
        display: block;
        margin: 0 auto;
        margin-bottom: 35px;
        width: 100%;
    }

    &__list-txt {
        text-align: center;
        font-size: 16px;
        letter-spacing: 0.05em;
        line-height: 2;
    }
}
.front-func-tit-box {
    margin-bottom: 66px;
    @media #{$SP} {
        margin-bottom: 55px;
    }
}
.front-func-box {
    &__arrow {
        display: block;
        margin: 0 auto;
        max-width: 58px;
        margin-top: 70px;
        margin-bottom: 70px;

        @media #{$SP} {
            margin-top: 35px;
            margin-bottom: 35px;
            max-width: 38px;
        }

        &_second {
            @media #{$SP} {
                margin-top: 50px;
            }
        }

        &_third {
            @media #{$SP} {
                margin-top: 5px;
            }
        }
    }
}
.front-func-top {
    position: relative;
    z-index: 2;
    &__img {
        position: relative;
        margin: 0 auto;
        display: block;
        right: -93px;
        width: 100%;

        @media #{$SP} {
            right: 0;
        }

        &_first {
            max-width: 767px;
        }

        &_second {
            max-width: 870px;
            right: -80px;

            @media #{$SP} {
                right: auto;
                top: 6px;
            }
        }

        &_third {
            max-width: 866px;
            margin-top: 90px;
            right: -108px;

            @media #{$SP} {
                right: 0;
                margin-top: 0;
            }
        }
    }
}

.front-func-bottom {
    position: relative;
    z-index: 1;
    background: #f7f7f7;
    top: -12px;

    @media #{$SP} {
        top: -2px;
    }

    &_second {
        @media #{$SP} {
            top: -3px;
        }
    }

    &_third {
        @media #{$SP} {
            top: -5px;
        }
    }
    &__inner {
        position: relative;
    }
}
.front-func-left {
    max-width: 244px;
    position: absolute;
    bottom: 0;
    left: -60px;

    @media #{$TB} {
        max-width: 220px;
            left: -120px;
    }

    @media #{$SP} {
    max-width: 175px;
    left: -50px;
    width: 35%;
    }

    &_second {
        @media #{$SP} {
            left: -68px;
        }
    }

    &_third {
        left: 0;
        @media #{$TB} {
        left: -80px;
        }

        @media #{$SP} {
            max-width: 125px;
            left: -60px;
        }
    }
}

.front-func-center {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: 40px 0;

    &_third {
        padding: 45px 0;

        @media #{$SP} {
            padding: 35px 0;
        }
    }

    &__txt {
        text-align: center;
        color: #000000;
        &_top {
            font-size: 26px;
            font-weight: 900;
            letter-spacing: 0.1em;
            margin-bottom: 15px;
            display: inline-block;

            @media #{$SP} {
                font-size: 16px;
            }

            &_third {
                font-size: 32px;

                @media #{$SP} {
                    font-size: 16px;
                }
            }
        }
        &_bottom {
            font-size: 36px;
            letter-spacing: 0.1em;
            font-weight: 900;
            line-height: 1.4;

            @media #{$SP} {
                font-size: 23px;
            }

            &_second {
                font-size: 32px;
                letter-spacing: 0.05em;

                @media #{$SP} {
                    font-size: 23px;
                }
            }

            &_third {
                font-size: 32px;
                @media #{$SP} {
                    font-size: 23px;
                }
            }
        }
        &_center {
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            font-size: 26px;
            font-weight: 900;
            letter-spacing: 0.05em;
            margin-bottom: 9px;

            @media #{$SP} {
                font-size: 16px;
            }
        }
        &_center-font {
            margin-left: 12px;
            margin-bottom: 6px;

            @media #{$SP} {
                margin-left: 6px;
                margin-bottom: 5px;
            }
        }
        &_img {
            max-width: 285px;

            @media #{$SP} {
                max-width: 195px;
            }

            &_third {
                max-width: 386px;

                @media #{$SP} {
                    max-width: 195px;
                }
            }
        }
        &_marker {
            background: linear-gradient(transparent 60%, #f8ef00 60%);
        }
    }
}

.front-func-logo {
    padding: 48px 0;

    @media #{$SP} {
        padding: 20px 0;
    }

    &__img {
        max-width: 820px;
        display: block;
        margin: 0 auto;
        padding-left: 50px;
        margin-bottom: 5px;
        width: 100%;
        @media #{$SP} {
            padding-left: 0;
        }
    }

    &__tit {
        font-size: 32px;
        font-weight: 900;
        text-align: center;
        letter-spacing: 0.1em;
        margin-bottom: 10px;

        @media #{$SP} {
            font-size: 20px;
        }
    }

    &__txt {
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.1em;
        margin-bottom: 7px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        padding: 0 30px;

        @media #{$SP} {
            padding: 0;
        }
    }
    &__item {
        width: 20%;
        margin-bottom: 30px;

        @media #{$SP} {
            width: 50%;
            margin-bottom: 15px;
        }
    }

    &__item-img {
        max-width: 200px;
        margin: 0 auto;
        display: block;
        width: 100%;
    }
}

.front-func-voice {
    padding: 50px 0 15px;

    @media #{$SP} {
        padding: 0;
    }
    &__tit {
        text-align: center;
        font-size: 32px;
        font-weight: 900;
        letter-spacing: 0.1em;
        margin-bottom: 60px;

        @media #{$SP} {
            font-size: 22px;
            margin-bottom: 40px;
        }
    }

    &__item {
        max-width: 370px;

        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
        margin: 0 15px;

        @media #{$SP} {
            width: 80vw;
            margin: 0px 10px;
        }
    }

    &__item-img-wrapper {
        position: relative;
        padding-top: 65%;
    }

    &__item-img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &__txt-box {
        padding: 20px 20px 50px;
    }
    &__item-tit {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 1.75;
        min-height: 120px;
    }
    &__item-company {
        color: #a0a0a0;
        font-size: 16px;
        letter-spacing: 0;
    }

    .slick-list {
        padding-bottom: 20px !important;
    }
    .slick-active button::before {
        color: #24a6f7 !important;
    }

    .slick-dots li {
        margin: 0;
    }
}

.front-func-comment {
    padding: 87px 0 0;
    margin-bottom: 80px;

    @media #{$SP} {
        padding: 40px 0 0;
        margin-bottom: 0;
    }

    &__img {
        max-width: 638px;
        display: block;
        margin: 0 auto;
        margin-bottom: 80px;
        width: 100%;

        @media #{$SP} {
            margin-bottom: 30px;
        }
    }
}

.front-func-comment-box {
    display: flex;
    position: relative;
    margin-bottom: 40px;

    @media #{$SP} {
        flex-direction: column;
        margin-bottom: 0;
    }

    &__left {
        max-width: 300px;
        width: 28%;

        @media #{$SP} {
            width: 100%;
            max-width: 230px;
            margin: 0 auto;
        }
    }
    &__right {
        width: 74%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url(../img/func/front-func-comment-box-bg.png) no-repeat center;
        background-size: contain;
        min-height: 240px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding-left: 6%;
        padding-top: 20px;
        box-sizing: border-box;

        @media #{$SP} {
            background: #eafbff;
            border-radius: 60px;
            position: relative;
            top: -30px;
            width: 100%;
            transform: none;
            padding-top: 0;
            min-height: auto;
            padding: 20px 25px;
                max-width: 365px;
    margin: 0 auto;
    box-sizing: border-box;
        }
    }

    &__txt {
        font-size: 28px;
        font-weight: 900;
        letter-spacing: 0.1em;
        line-height: 1.43;

        @media #{$TB} {
        font-size: 21px;
        }

        @media #{$SP} {
            font-size: 17px;
            letter-spacing: 0.05em;
            line-height: 1.7;
        }

        &_narrow {
            letter-spacing: 0.05em;
            padding-left: 15px;
        }
    }

    &__owner {
        font-size: 14px;
        letter-spacing: 0.1em;
        text-align: right;
        width: 100%;
        display: inline-block;
        font-weight: 400;

        padding-right: 16px;
        box-sizing: border-box;
    }
}

.front-support {
    padding: 70px 0 95px;

    @media #{$SP} {
        padding: 40px 0;
    }
    &__list {
        display: flex;

        @media #{$SP} {
            flex-direction: column;
        }
    }
    &__item {
        width: calc(33.333% - 30px);
        margin: 0 15px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

        @media #{$SP} {
            width: 100%;
            margin: 0;
            margin-bottom: 30px;
        }
    }

    &__item-tit {
        background: #1b58a7;
        text-align: center;
        color: #fff;
        font-size: 24px;
        letter-spacing: 0;
        font-weight: 900;
        padding: 13px 0;

        @media #{$SP} {
            font-size: 20px;
            letter-spacing: 0.05em;
        }
    }

    &__item-txt {
        font-size: 15px;
        line-height: 2;
        padding: 25px 20px 20px;
    }
}

.front-support-tit-box {
    margin-bottom: 50px;

    @media #{$SP} {
        margin-bottom: 30px;
    }
}

.front-price {
    background: #f2fcff;
    padding: 70px 0 40px;

    @media #{$SP} {
        padding: 40px 0;
    }

    &__tit {
        text-align: center;
        font-size: 30px;
        font-weight: 900;
        letter-spacing: 0.1em;
        color: #1b58a7;
        margin-bottom: 60px;

        @media #{$SP} {
            margin-bottom: 30px;
        }
    }
}

.front-price-box {
    border-radius: 10px;
    overflow: hidden;
    max-width: 480px;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 30px;

    &__tit {
        background: #1b58a7;
        color: #fff;
        font-size: 24px;
        font-weight: 900;
        letter-spacing: 0.1em;
        text-align: center;
        padding: 16px 0;
    }

    &__price {
        font-weight: 900;
        text-align: center;
        letter-spacing: 0.1em;
        line-height: 1;
        padding: 17px 0 30px;

        &_number {
            font-size: 46px;
        }
        &_yen {
            font-size: 24px;
        }
        &_top {
            font-size: 24px;
            margin-bottom: 9px;
            display: inline-block;
        }

        &_bottom {
            font-size: 15px;
            font-weight: 400;
        }
    }
}

.front-faq {
    background: #f7f7f7;
    padding: 80px 0 50px;

    @media #{$SP} {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__tit {
        text-align: center;
        font-size: 30px;
        font-weight: 900;
        letter-spacing: 0.1em;
        color: #1b58a7;
        margin-bottom: 50px;
    }
}

.front-faq-main {
    &__item {
        margin-bottom: 20px;
    }
}

.front-faq-top {
    background: var(--white-color);
    border-radius: 10px;
    display: flex;
    padding: 25px 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    @media #{$SP} {
        padding: 15px;
        padding-right: 40px;
    }
    &::after {
        content: "";
        width: 8px;
        height: 8px;
        border-top: 4px solid #1b58a7;
        border-left: 4px solid #1b58a7;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(225deg);
        right: 20px;
        transition: 0.3s;

        @media #{$SP} {
            right: 12px;
        }
    }
    &_open {
        border-radius: 10px 10px 0 0;
        &::after {
            transform: translateY(-50%) rotate(45deg);
        }
    }
    &__question {
        min-width: 23px;
        color: #1b58a7;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.01em;
        margin-right: 20px;
        @media #{$SP} {
            margin-right: 10px;
            margin-right: 17px;
        }
    }
    &__txt {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.05em;

        @media #{$SP} {
            font-size: 16px;
            padding-top: 3px;
        }
    }
}

.front-faq-bottom {
    display: none;
    background: var(--white-color);
    border-radius: 0 0 10px 10px;
    margin-top: -2px;
    &__inner {
        display: flex;
        padding: 0px 60px 30px 20px;
        box-sizing: border-box;
        border-top: none;

        @media #{$SP} {
            padding: 10px;
        }
    }
    &__answer {
        min-width: 23px;
        color: var(--theme-color1);
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.01em;
        padding-top: 2px;
        margin-right: 20px;
        @media #{$SP} {
            margin-right: 10px;
        }
    }
    &__txt {
        font-size: 15px;
        letter-spacing: 0.05em;
    }
}

.front-contact {
}

.front-contact-top {
    padding-top: 55px;

    @media #{$SP} {
        padding-top: 35px;
    }
    &__img {
        max-width: 1080px;
        display: block;
        margin: 0 auto;
        width: 100%;
    }
}
.front-contact-bottom {
    background: #f5f5f5;
    padding: 41px 0 68px;
    &__box {
        max-width: 1024px;
        background: #fff;
        margin: 0 auto;
        border-radius: 30px;
        overflow: hidden;
    }
    &__tit {
        font-size: 36px;
        letter-spacing: 0.2em;
        font-weight: 900;
        color: #fff;
        text-align: center;

        background: linear-gradient(to left, #1b58a7, #00b7e3);

        padding: 40px 0;
        margin-bottom: 50px;

        @media #{$TB} {
        font-size: 30px;
        }

        @media #{$SP} {
            font-size: 23px;
            padding: 20px 0;

            margin-bottom: 40px;
        }
    }
}

.front-contact-download {

    max-width: 720px;
    margin: 0 auto;
    background: #f4fdff;
    border-top: 1px solid #1b58a7;
    border-bottom: 1px solid #1b58a7;

    padding: 20px 10px;
    box-sizing: border-box;
    margin-bottom: 50px;



    &__outer {
        width: calc(100% - 30px);
        margin: 0 auto;
    }

    &__link {
    display: flex;
    align-items: center;

        @media #{$SP} {
        flex-direction: column-reverse;
    }
    }

    &__left {
        max-width: 170px;
        margin-right: 20px;

        @media #{$SP} {
        width: 100%;
        margin: 0 auto;
        }
    }

    &__right {
        @media #{$SP} {
        margin-bottom: 20px;
        }
    }
    &__tit {
        font-weight: 900;
        color: #1b58a7;
        letter-spacing: 0.05em;


                    @media #{$SP} {
                    text-align: center;
                    }
        &_top {
            font-size: 20px;
            @media #{$SP} {
            font-size: 15px;
            }
        }

        &_bottom {
            font-size: 28px;
            @media #{$SP} {
            font-size: 23px;
            }
        }
    }
}

.front-contact-main {
    padding-bottom: 500px;

    &__tit {
        font-size: 24px;
        font-weight: 900;
        letter-spacing: 0.2em;
        text-align: center;
    }
}
