.example--kaizen {
	max-width: 800px;
}
.seminar-kpv-pr.seminar-kpv-pr--kaizen .blog-recommend__item--kaizen {
	margin-bottom: 80px;
}
.seminar-kpv-pr.seminar-kpv-pr--kaizen .blog-recommend__body {
	padding: 30px 0 0;
}
.seminar-kpv-pr.seminar-kpv-pr--kaizen .blog-recommend__title {
	margin-bottom: 30px;
}

/* TOP PAGE */
.kaizen-heading {
	display: flex;
	margin-bottom: 120px;
}
.kaizen-heading__heading {
	width: 475px;
	margin-right: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.kaizen-heading h2 {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}
.kaizen-heading p {
	margin-bottom: 30px;
	font-size: 21px;
}
.kaizen-heading p:last-of-type {
	margin-bottom: 0;
}
.kaizen-heading__content {
	max-width: 485px;
}
.blog-recommend__item--coming-soon * {
	cursor: default;
	pointer-events: none;
}
.blog-recommend__item--coming-soon .blog-recommend__readmore::after {
	display: none;
}

/* INNER PAGES */
.kaizen-profile {
	display: flex;
	align-items: center;
	padding: 30px;
	background: #f5f5f5;
	margin-bottom: 80px;
}
.kaizen-profile--no-margin-bottom {
	margin-bottom: 0;
}
.kaizen-profile img {
	width: 145px;
}
.kaizen-profile p {
	margin-bottom: 20px;
}
.kaizen-profile p:last-of-type {
	margin-bottom: 0px;
}
.kaizen-profile__text {
	padding-left: 30px;
}
.example-header__meta--description {
	font-size: 30px;
	line-height: 170%;
}
.interviewer {
	margin-top: 80px;
}
.interviewer::before {
	display: none;
}
.example-content__quote {
	padding: 75px 40px;
	text-align: center;
}
.next-story {
	text-align: right;
}
.visible-sp {
	display: none;
}
.profile-hr {
	width: 100%;
	height: 0.5px;
	background: #f5f5f5;
	position: relative;
}
.profile-hr::after {
	content: '';
	position: absolute;
	background: #cccccc;
	left: 30px;
	top: 0;
	right: 30px;
	height: 0.5px;
}
.director-orange {
	color: #f99a2c;
	font-weight: bold;
}
.director-blue {
	color: #2e6cff;
	font-weight: bold;
}
.director-green {
	color: #39b253;
	font-weight: bold;
}
.toc {
	margin-bottom: 80px;
}
.toc__title,
.toc__item {
	margin-bottom: 30px;
}
.toc__link {
	font-size: 16px;
	line-height: 170%;
}
@media screen and (max-width: 959px) {
	.example--kaizen {
		margin-top: 40px;
	}
	.seminar-kpv-pr.seminar-kpv-pr--kaizen .blog-recommend__item--kaizen,
	.kaizen-heading {
		margin-bottom: 60px;
	}
	.seminar-kpv-pr.seminar-kpv-pr--kaizen #section-blog-list {
		padding-top: 60px;
	}
	.seminar-kpv-pr.seminar-kpv-pr--kaizen .blog-recommend__body {
		padding: 0;
	}
	.seminar-kpv-pr.seminar-kpv-pr--kaizen .blog-recommend__title {
		margin-bottom: 20px;
	}
	.kaizen-heading {
		text-align: center;
		display: block;
	}
	.kaizen-heading h2 {
		font-size: 18px;
		margin-bottom: 40px;
	}
	.kaizen-heading p {
		margin-bottom: 20px;
		font-size: 16px;
	}
	.kaizen-heading__heading,
	.kaizen-heading__content {
		width: 100%;
		max-width: 100%;
	}
	.kaizen-profile {
		display: flex;
		align-items: flex-start;
		padding: 20px;
		margin-bottom: 60px;
	}
	.kaizen-profile img {
		width: 120px;
	}
	.kaizen-profile p:last-of-type {
		margin-bottom: 0px;
	}
	.kaizen-profile__text {
		padding-left: 20px;
	}
	.example-header__meta--description {
		font-size: 22px;
	}
	.interviewer {
		font-size: 18px;
		margin-top: 60px;
	}
	.example-content__hd--center {
		margin: 60px auto;
	}
	.visible-sp {
		display: block;
	}
	.hidden-sp {
		display: none;
	}
	.kaizen-profile--no-margin-bottom {
		margin-bottom: 0;
	}
	.profile-hr::after {
		left: 20px;
		right: 20px;
	}
	.toc {
		margin-bottom: 60px;
	}
	.toc__title,
	.toc__item {
		margin-bottom: 20px;
	}
	.toc__link {
		font-size: 14px;
	}
}
@media screen and (max-width: 400px) {
	.kaizen-profile {
		display: block;
	}
	.kaizen-profile__img {
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.kaizen-profile__text {
		padding-left: 0;
	}
	.kaizen-profile__text p:first-child {
		margin-top: 30px;
		margin-bottom: 47px;
	}
}
